<!DOCTYPE html>
<html lang="en">
  <head>
    <SocketStream/>
    <meta charset="utf-8"/>
    <title>Welcome to Lophilo</title>
  </head>
  <body>
    <div class="well">
      <p>Welcome to your new realtime app on Lophilo!</p>
      <p>This is a client/server/hardware example built on top of the included frameworks: Knockout.JS (data binding), Bootstrap (UI), SocketStream (RPC)</p>
    </div>
    <div class="btn-group" data-bind="foreach: pins">
      <button type="button" class="btn" data-bind="click: require('/app.js').toggle"><b data-bind="text: name"></b>: <span data-bind="text: bit"></span></button>
    </div>  
  </body>
</html>