<!DOCTYPE html>
<html lang="en">
  <head>
    <SocketStream/>
    <meta charset="utf-8"/>
    <title>Welcome to Lophilo</title>
  </head>
  <body>
    <div class="well">
      <p>Your somewhat new realtime app on the Lophilo platform!</p>
      <p>This is a client/server/hardware example built on top of the included frameworks: 
      <ul>
          <li>Knockout.JS (data binding)
          <li>Bootstrap (UI)
          <li>SocketStream (RPC)
      </ul>
      </p>
    </div>
    <div class="btn-group" data-bind="foreach: pins">
      <button type="button" class="btn" data-bind="click: require('/app.js').toggle">
        <b data-bind="text: name"></b>: <span data-bind="text: bit"></span>
      </button>
    </div>  
  </body>
</html>