<!DOCTYPE html>
<html lang="en">
  
  <head>
    <SocketStream/>
    <meta charset="utf-8" />
    <title>Welcome to Lophilo</title>
  </head>
  
  <body>
  <div class="container">
    <div class="navbar">
      <div class="navbar-inner">
        <ul class="nav nav-tabs">
          <a class="brand" href="http://lophilo.com" target="new">Lophilo</a>
          <li>
            <a href="#about" data-placement="bottom" data-toggle="tab" rel="tooltip"
            title="Some introductory text">About</a>
          </li>
          <li>
            <a href="#system" data-placement="bottom" data-toggle="tab" rel="tooltip"
            title="System Management">System</a>
          </li>          
          <li>
            <a href="#shielda" data-placement="bottom" data-toggle="tab" rel="tooltip"
            title="Lophilo Inputs/Outputs">Shield A</a>
          </li>
          <li>
            <a href="#shieldb" data-placement="bottom" data-toggle="tab" rel="tooltip"
            title="Lophilo Inputs/Outputs">Shield B</a>
          </li>        
          <li class="active">
            <a href="#onboardleds" data-placement="bottom" data-toggle="tab" rel="tooltip"
            title="">RGB LEDS</a>
          </li>            
        </ul>
        <!-- class="nav nav-tabs" -->
      </div>
      <!-- class="navbar-inner" -->
      
      <div id="appTabContent" class="tab-content">
        <div class="tab-pane fade in" id="about">
          <div class="well">
            <p>Your new realtime, hardware-control app on the Lophilo platform!</p>
            <p>This is a client/server/hardware example built on top of the included
              frameworks and libraries:
              <ul>
                <li>Knockout.JS (data binding)</li>
                <li>Bootstrap (UI - User Interface)</li>
                <li>SocketStream (RPC - Remote Procedure Call)</li>
                <li>Redis (data storage)</li>                
              </ul>
            </p>
            <p>See README.md for more information</p>
          </div>
        </div>
   <!-- class="tab-pane" -->
        <div class="tab-pane fade in" id="system">
          <button type="button" 
            data-bind="css: {'btn-success': powerstatus, 'btn-inverse': !powerstatus()}, click: togglepower" 
            class="btn">
            <span data-bind="text: powerstatus() ? 'SHIELDS ON!': 'SHIELDS OFF'">
            </span>
          </button>    
          <button type="button" 
            data-bind="click: reload" 
            class="btn">
            <span>
              Reload data
            </span>
          </button>              
        </div>
        <div class="tab-pane fade in" id="shielda">
          <h4>Shield A</h4>
          <button type="button" 
            data-bind="css: {'btn-success': shields.outputEnable(), 'btn-inverse': !shields.outputEnable()}, click: shields.toggleOutputEnable" 
            class="btn">
            <span data-bind="text: shields.outputEnable() ? 'OUTPUT ON!': 'OUTPUT OFF'">
            </span>
          </button>             
          <h5>Lower (VAL)</h5>
          <!--- DEBUG
          <div data-bind="with: shields.al">
            <span data-bind="text: ko.toJSON($data)"></span>
          </div>     
          -->
          <div data-bind="with: shields.al">
            <button type="button" class="btn" data-bind="click: $root.allones">              
              All Ones
            </button>          
            <button type="button" class="btn" data-bind="click: $root.allzeros">              
              All Zeros
            </button>                
          </div>
          
          <table class="table">
            <tr data-bind="foreach: shields.al">
              <td>
                <b data-bind="text: label"></b>
              </td>
            </tr> <! -- foreach -->
            <tr data-bind="foreach: shields.al">
              <td>
                <button type="button" class="btn" data-bind="click: $parent.toggle">              
                  <span data-bind="text: last"></span>
                </button>
              </td>
            </tr> <!-- foreach -->
            <!-- ko foreach: shields.al.bitfields -->
            <tr data-bind="foreach: $data">
            <td>
            <button 
              type="button" 
              class="btn" 
              data-bind="css: {'btn-success': inout, 'btn-inverse': !inout()}, click: toggle">              
              <span data-bind="text: label"></span>
            </button>     
            </td>
            </tr>
            <!-- /ko -->    
          </table>
          
          <h5>Upper (AH)</h5>
          <div data-bind="with: shields.ah">
            <button type="button" class="btn" data-bind="click: $parent.allones">              
              All Ones
            </button>          
            <button type="button" class="btn" data-bind="click: $parent.allzeros">              
              All Zeros
            </button>                
          </div>          
          
          <table class="table">
            <tr data-bind="foreach: shields.ah">
              <td>
                <b data-bind="text: label"></b>
              </td>
            </tr> <! -- foreach -->
            <tr data-bind="foreach: shields.ah">
              <td>
                <button type="button" class="btn" data-bind="click: $parent.toggle">              
                  <span data-bind="text: last"></span>
                </button>
              </td>
            </tr> <!-- foreach -->
            <!-- ko foreach: shields.ah.bitfields -->
            <tr data-bind="foreach: $data">
            <td>
            <button 
              type="button" 
              class="btn" 
              data-bind="css: {'btn-success': inout, 'btn-inverse': !inout()}, click: toggle">              
              <span data-bind="text: label"></span>
            </button>     
            </td>
            </tr>
            <!-- /ko -->    
          </table>          
        </div>
        <!-- class="tab-pane" -->
        <div class="tab-pane fade in" id="shieldb">
          <h4>Shield B</h4>
          <h5>Lower (BL)</h5>

          <div class="btn-group" data-bind="foreach: shields.bl">
            <button type="button" class="btn" data-bind="click: $root.selectPWM" href="#pwm" tabindex="-1" data-toggle="modal">              
              <b data-bind="text: label"></b></span>
            </button>
          </div>
          <h5>Upper (BH)</h5>
        </div>
        <!-- class="tab-pane" -->     
        <div class="tab-pane fade in active" id="onboardleds">
          <H4>RGB LEDS</H4>
          <div data-bind="foreach: leds.leds">
            <div 
              class="input-append color" 
              data-color="rgb(255, 146, 180)" 
              data-color-format="rgb" 
              data-bind="attr: {id: label}">
              <label data-bind="text: label"></label>
              
              <input type="text" class="span2" data-bind="value: srgb.hex()" value="">
              <span class="add-on">
                  <i style="background-color: rgb(255, 146, 180)"></i>
                </span>
            </div>
          </div>
        </div>
        <!-- class="tab-pane" -->            
      </div>
      <!-- class="tab-content" -->
    </div>
    <!-- class="navbar" -->
    
    
    <!-- ################################## -->
    <!-- Dialog to modify PWM settings -->
    <!-- ################################## -->
    <div class="modal hide" id="pwm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
        <h3 id="myModalLabel"><span data-bind="text: $root.selectedPWM.label"></span> PWM (Pulse Width Modulation) settings</h3>
      </div>
      
      <div class="modal-body" data-bind="with: $root.selectedPWM">
          <label>DTYC (Duty Cycle)</label>
          <input type="text" data-bind="value: dtyc.last">
      </div> <!-- modal-body -->
    
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <button class="btn btn-primary" data-bind="click: applyPWM" data-dismiss="modal">Update</button>
      </div>
    </div>    
  </div> <!-- container -->
  <script>
  </script>
  </body>
</html>